# Environnement Python
.venv/
venv/
__pycache__/
*.pyc
.idea/

# Secrets
.env
.streamlit/secrets.toml

# Données locales
data/
logs/
_upload_ascii/
back_up_store/
data_raw/
store_name.txt
sample.html

# Index vectoriel local
chroma_db/
*.sqlite3
*.parquet

# Fichiers système
.DS_Store
Thumbs.db

# Scripts
ingest_gemini.py
list_models.py
scrape_ccecrb_types.py
/ingest_gemini_update.py
/analyse_quota_gemini.py
/ingest_gemini_selection.py
/ingest_gemini_v2.py
